<!DOCTYPE html
    PUBLIC "-//w3c//dtd xhtml 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-compatiable" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= subject %></title>
</head>
<body>
    <p><%= first_nm %></p>
    <p><%= last_nm %></p>
    <p><%= balance %></p>
</body>